/*Comentario*/
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

body {
    color: black;
    /*fuente del texto*/
    font-family: 'Sorts Mill Goudy', serif;
    font-size: xx-large;
}

nav{
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin: 1%;
    border-bottom: 2px solid black;
    margin-bottom: 3%;
    width: 98%;
}

nav a{
    text-decoration: none;
    font-size: 60%;
    font-family: 'Young Serif', serif;
    color: black;
    margin: 30px;
    display: inline-flex;
}

@media screen and (max-width: 768px) {
    
    .logo {
        order: 1; /* Establece el orden del elemento en flexbox */
    }
    
    .left,.right {
        order: 2;
    }    

    nav {
        flex-direction: column;
        align-items: center;
    }

    .logo,.left,.right {
        /* order: 0;  */
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}

nav a:hover{
    text-decoration: underline #F15BB5;
    text-decoration-thickness: 12%;
    text-decoration-style: wavy;
    text-underline-offset: 10%;
    text-decoration-skip-ink: none;
    /* text-shadow: 1px 1px 2px #00BBF9, 0 0 1em#9B5DE5, 0 0 0.2em #9B5DE5; */
}

.logo{
    width: 10%;
    padding-bottom: 2%;
}  

.left {
    padding-left: 1%;
}

.right{
    padding-right: 3%;
}

.recom{
    text-align: center;
    font-size: x-large;
}

.cita{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.cita p{
    font-style: oblique;
    font-size: 85%;
}

.card-container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    margin-left: 3%;
    margin-right: 3%;
}
  
.card {
    border: 2px solid #ccc;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 3%;
    padding: 20px;
    margin: 3px 10px; 
    width: 28%;
    text-align: center;
    word-wrap: break-word;
    /* background-color: #FDC500; */
}
  
.card img {
    width: 86%;
    border-radius: 10px;
}
  
.card h6 {
    margin-top: 10px;
    font-size: 60%;
}
  
@media (max-width: 768px) {
    .card-container {
      flex-direction: column; 
      align-items: center;
    }
}  

/* .titulos{
    align-content: center;
    text-align: center;
}

.titulos img{
    width: 700px;
    margin-top: 3%;
} */

.caja {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    padding-top: 2%;
}
  
.line {
    flex: 1; /* La línea tomará todo el espacio disponible */
    border-top: 1px solid #9B5DE5; /* Puedes cambiar el estilo y color de la línea según lo desees */
    margin: 4% 2%; /* Ajusta el espacio entre la línea y el texto */
}
  
.titulo {
    display: inline-block;
}

.cont h3{
    text-align: center;
    font-size: 85%;
}

.cont h5{
    text-align: center;
    font-size: 80%;
    margin: auto;
}

.cont p{
    font-size: 65%;
    /* font-size: 2.5vh; */
}

.tarjeta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    padding: 1.5%;
    margin: 25px;
    width: 50%;
    text-align: left;  /*o centro*/
    margin-left: 5%;
}

.tarjeta img{
    border-radius: 10%;
    padding: 2%;
    width: 25%;
}


@media (max-width: 768px) {
    .tarjeta{
      flex-direction: column;
      align-items: center;
    }
} 

.tips{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tips img{
    width: 100%;
    height: 20%;
    padding-top: 5%;
    /* padding-bottom: 3%; */
}

  
  
footer {
    background-color: #f0f0f0;
    padding-left: 3%;
}
  
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo img {
    width: 70%; /* Ajusta el tamaño del logo según tus necesidades */
}
  
.copyright p {
    font-size: 16px;
}
  
.feedback-form {
    max-width: 30%;
    margin-right: 2%;
}
  
  .feedback-form h3 {
    font-size: 15px;
  }
  
  .feedback-form form {
    display: flex;
    flex-direction: column;
  }
  
  .feedback-form label {
    margin-bottom: 5px;
    font-size: 50%;
    margin-right: 5%;
  }
  
  .feedback-form textarea {
    height: 20%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .feedback-form button {
    padding: 10px;
    background-color: #F15BB5;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .feedback-form button:hover {
    background-color: #003566;
  }

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column; 
      align-items: center;
    }
}
  
  

